{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-5 w-25 p-2 mx-auto" style="background-color: #79aec8;">
        Go To
    </div>
    <div class="w-25 p-2 mx-auto">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="{{ url_for('api') }}" class="btn btn-primary btn-md mx-4">Api</a>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-success btn-md mx-4">Dashboard</a>
                 </div>
            </div>      
    </div>
</div>
{% endblock %}